.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	color: #00d8ff;
	margin-bottom: 0.25rem;
	margin-top: 0;
	font-size: 4rem;
}

.subtitle {
	font-weight: 400;
	font-size: 2rem;
	margin-bottom: 1rem;
	margin-top: 0;
}

.link {
	color: #00d8ff;
}

.link:visited {
	color: #00d8ff;
}
